@import './styles/normalize';
@import './styles/skeleton';

.grid-container {
  display: grid;
  border-top: 1px solid lightblue;
  border-left: 1px solid lightblue;
}

.grid-container > div {
  text-align: center;
  border-bottom: 1px solid lightblue;
  border-right: 1px solid lightblue;
}

.flex-container-centered {
  display: flex;
  align-content: center;
  justify-content: center;
  flex: 1;
}

.node-start {
  background-color: red;
}

.node-end {
  background-color: blue;
}

.node-visited {
  background: #435871;
  background-position: center;
  animation: not-visited-animation 1.5s ease;
}

@keyframes not-visited-animation {
  0% {
    background: #8596ab;
    transform: scale(0.2);
  }
  25% {
    background-size: 75%;
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    background: rgb(37, 37, 97)871;
    transform: scale(1);
  }
}

.short-path {
  background-color: coral;
  animation: short-path-animation 1.5s ease;
}

@keyframes short-path-animation {
  0% {
    background: salmon;
    transform: scale(0.2);
  }
  25% {
    background: orangered;
    background-size: 75%;
  }
  50% {
    background-size: 100%;
    transform: scale(1.2);
  }
  100% {
    background-size: 125%;
    transform: scale(1);
  }
}

.wall {
  background: black;
  animation: wall-animation 1s ease;
}

@keyframes wall-animation {
  0% {
    background: white;
    transform: scale(0.2);
  }
  25% {
    background: black;
    background-size: 75%;
  }
  50% {
    background-size: 100%;
    transform: scale(1.2);
  }
  100% {
    background-size: 125%;
    transform: scale(1);
  }
}

.node {
  display: flex;
  flex: 1;
}

.node-default:hover {
  background-color: #61dafb;
}